<template>
    <div class="flex p-8 flex-col">
        <input type="text" class="rounded border-2 border-gray-200 w-full" placeholder="Search for Meals">
        <div class="flex justify-center gap-2 mt-2">
            <nuxt-link :to="{name: 'meal', params: {id:index}}" v-for="(letter,index) in letters" :key="letter">
                {{ letter }}
            </nuxt-link>
        </div>
    </div>
</template>
  
<script setup>
import { computed } from 'vue';
import createStore from '../../store'

const store = createStore()

const count = computed(() => store.state.counter)
const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
</script>
  